.cartButton {
    display: flex;
    font-size: 15px;
    width: 15vw;
    gap:30px;
    justify-content: center;
    height: 7vh;
    align-items: center;
    color: white;
    background-color: rgb(21, 109, 191);
    border-radius: 30px;
}

