a {
    text-decoration: none;
}

.carouselOrder {
    display: flex;
    flex-direction: row;
}

.cardContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: gray;
    width: 20vw;
    margin-bottom: 20px;
}

.name {
    font-size: 25px;
    font-weight: 900;
    color: black;
    display: flex;
    text-align: center;
}

.image {
    width: 10vw;
}

.price {
    font-size: 22px;
    font-weight: 600;
    color: black
}