.container {
    display: flex;
    justify-content: space-around;
    background-color: #083055;
    font-size: 12px;
    text-decoration: none;
    padding: 10px;
    border-bottom: 1px solid black;
    text-decoration: none;
  }
@media (max-width: 900px) {
  .container{
    flex-direction: column;
    gap: .5rem;
  }
}