.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 25px;
}

.inputs{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
}

.errors{
    color: red;
}

.errors1{
    color: transparent;
    user-select: none;
}