.containerAll {
    background-color: #00386B;
    padding: 2rem 1rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    font-size: 20px;
}

.logo {
    border-top: 10px solid #00386B;
    background-color: #fff;
    display: flex;
    justify-content: center;
    display: none;
}
.logo img{
    height: 220px;
}


.containerGrid {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    padding: 1rem;
    font-weight: normal;
}

.titlep {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 22px;
}

.containerLinks {
    color: #156DBF;
    display: flex;
    width: 70%;
    justify-content: space-evenly;
}

.socialApps {
    display: flex;
    width: 30%;
    color: white;
    flex-direction: column;
    align-items: center;
}

.products {
    list-style: none;
}

.icons {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    font-size: 30px;
}

.icon {
    color: rgb(255, 255, 255);
}

.text {
    color: rgba(255, 255, 255, 0.44);
    text-decoration: none;
}

li {
    list-style: none;
}

ul {
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 768px) {
    .containerLinks{
        flex-direction: column;
        gap: 1rem;
        justify-content: center;
        align-items: center;
    }
    .containerGrid{
        flex-direction: column;
        gap: 2rem;
        align-items: center;
        text-align: center;
    }
    .socialApps{
        margin: 0;
    }
}