.containerAll{
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
    align-items: center;
}
.login{
    display: flex;
    gap: .5rem;
}
.form{
    display: flex;
    gap: .5rem;
}
.input{
    padding: .3rem;
}
