.containerAll {
    display: flex;
    justify-content: space-evenly;
    padding: .2rem;
    align-items: center;
    position: relative;
}

.login {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.form {
    display: flex;
    gap: .5rem;
}

.logo {
    height: 8rem;
    /* width: 30vh; */
    display: flex;
}

.profilePositioning{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


@media screen and (max-width: 1100px) {
    .containerAll {
        /* display: block; */
        flex-direction: column;
        font-size: 15px;
        margin: 0;
        padding: 0;
        margin-bottom: 1rem;
        gap: .5rem;
    }

    .logo {
        display: none;

    }

    .form {
        background-color: rgba(128, 128, 128, 0.09);
        margin: 0;
        width: 100%;
        padding: 30px;
        display: flex;
        justify-content: center;
    }

    .login {
        margin-bottom: 10px;
    }

.profile_img{
    width: 5%;
}
}


.suggestions_container{
    position: absolute;
    border: 1px solid rgb(201, 201, 201);
    background-color: rgb(255, 255, 255);
    z-index: 1;
    max-width: 420px;
    
}

.suggestions{
    border: 1px solid rgb(201, 201, 201);
    cursor: pointer;
    transition: .2s;
    display: flex;
    justify-content: row;
    height: 2rem;
}

.suggestion_img{
    display: flex;
    width: 8%;
}

.suggestions:hover{
    background-color:#3d7fbd;
    color: white;
}

.profileButtons {
    color: #156DBF;
}

.profileButtons:hover {
    color: #2589e6;
}