.containerAll {
    display: flex;
    justify-content: space-evenly;
    padding: .2rem;
    align-items: center;
}

.login {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.form {
    display: flex;
    gap: .5rem;
}

.logo{
    height: 8rem;
    /* width: 30vh; */
    display: flex;
}

.profilePositioning{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.profile_img{
    width: 5%;
}