.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.namePositioning {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 15px;
    gap: .5rem;
}

.deleteButton {
    display: flex;
    font-size: 25px;
    width: 15vw;
    gap:30px;
    justify-content: center;
    height: 7vh;
    align-items: center;
    color: white;
    background-color: rgb(255, 0, 0);
    border-radius: 30px;
}

.inputsAdminPositioning {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.textarea {
    width: 50vw;
}

.descriptionTitle{
    /* width: 50vw; */
    font-weight: 900;
}
.descriptionsubtitle{
    /* width: 50vw; */
    font-weight: 600;
}

.descriptionBody {
    width: 50vw;
    font-size: 18px;
    margin-top: 1rem;
}

.lowerPositioning {
    display: flex;
    flex-direction: row;
}


.containerExist{
    margin-bottom: 2rem;
}
.descriptionContainer{
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btnDesc{
    width: 150px;
    text-align: center;
}

.descriptionPositioning {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}
