.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
    padding: .5rem;
    border: none;
    width: 100%;
    text-align: center;
}

.inputs{
    /* display: flex;
    align-items: space-evenly;
    justify-content: center;
    flex-direction: column; */
    /* gap: 40px; */
    
    margin: 2rem auto;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    -webkit-box-shadow: 0px 10px 13px -7px #156dbfb7, 5px 7px 12px -3px rgba(0, 0, 0, 0);
    box-shadow: 0px 10px 13px -7px #156dbfb7, 5px 7px 12px -3px rgba(0, 0, 0, 0);
    border: 10px;
    text-align: left;
    gap: 2rem;
    color: black;
}


.li{
    font-size: 20px;
    color: rgb(148, 148, 148);
}

.icon{
    text-align: center;
    font-size: 2rem;
    color: #156dbf;
    
}
    
.btn{
    margin-top: 3rem;
}