.contenedor{
    width: 100%;
    padding: 15px;
    text-align: start;
}
.formulario{
    background-color: #156DBF;
    padding: 3px;   
}

.formulario label{
    margin-top: 15px;
    margin-bottom: 5px;
}

.formulario input[type="text"]{
    font-size: 20px;
    width: 100%;
}
.inputcontenedor{
    border: 1px solid #aaa;
    border-radius: 4px;
}

.button{
    margin-top: 15px;
    border: none;
    width: 100%;
    color: #fff;
    font-size: 20px;
    padding: 15px 20px;
    cursor: pointer;
    background: #00386B;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );  
}

.buttonError{
    margin-top: 15px;
    border: none;
    width: 100%;
    color: #fff;
    font-size: 20px;
    padding: 15px 20px;
    cursor: pointer;
    background: rgb(121, 129, 135);
    box-shadow: 0 8px 32px 0 rgb(121, 129, 135);
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 ); 
    cursor: default;
}

.inputCard{
    background-color: white;
    height: 18px;
}

@media(min-width:768px)
{
    .formulario{
        margin: auto;
        width: 500px;
        margin-top: 20px;
        border-radius: 2%;
    }

}