.axolot {
    width: 70vw;
    height: 30vh;
    border: 2px solid purple;
    border-right: 0;
    border-left: 0;
}

.controllerRight {
    width: 15vw;
    height: 30vh;
    border: 2px solid green;
    border-left: 0;
}

.controllerLeft {
    width: 15vw;
    height: 30vh;
    border: 2px solid green;
    border-right: 0;
}

.imagePositioning {
    display: flex;
    justify-content: center;
}

.categoriesBar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #00386b;
    width: 15vw;
    height: 100vh;
    position: sticky;
    top: 0;
    gap: 50px;
    align-items: center;
    color: aliceblue;
}

.cardsBar {
    display: flex;
    width: 85vw;
}

.container {
    display: flex;
    /* display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(250px, 100%), 1fr)); */
    /* display: flex; */
    /* justify-content: row; */
    /* background-color: black; */
    /* position: relative; */
    /* height: max-content; */
}

.pagingContainer {
    /* height: 7.5vh; */
    background-color: #00386b;
    color: white;
}

.pagingOrder {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #00386b;
}

.paginate {
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
}
.paginate div{
    height: 100%;
    cursor: pointer;
}

.pagineNumbers{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
}

.cardsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(250px, 100%), 1fr));
    width: 100%;
    gap: 1rem;
    border-radius: 15px;
    padding: 1rem;
    
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: absolute;
    right: 0;
    width: 80vw;
    padding: 0.5vw */
}

.reloadButton {
    display: flex;
    border-radius: 10%;
    width: 7vw;
    height: 5vh;
    font-size: 17.5px;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    background-color: #6c757d;
    border: none;
}

.reloadButton:hover {
    background-color: #5c636a;
    transition: 0.2s;
}

.loader{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.gif{
    margin: auto;

}

/* @media screen and (max-width: 990px){
    .container{
        flex-direction: column;
    }
} */

@media screen and (max-width: 990px){
    .containerAll{
        display: flex;
        flex-direction: column;
    }
    .container{
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
    .categoriesBar{
        width: 100%;
        top: auto;
        height: 100%;
    }
    .pagingOrder{
        margin: 2rem 0;
    }
}